<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simplelabs.dynamodbautoscale" type="Simplelabs.DynamoDBAutoScale.Configuration.DynamoDBAutoScaleSettings, Simplelabs.DynamoDBAutoScale"/>
  </configSections>
  <simplelabs.dynamodbautoscale>
    <aws accessKey="AKIAJ32VUL7FRK6G2EKQ" secretAccessKey="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" regionEndpoint="us-east-1" />
  </simplelabs.dynamodbautoscale>
</configuration>